﻿.navbar-logo {
    background-color: #FFFFFF;
}
.logo {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    float: left;
}
.logo-setup {
    width: 100%;
    float: left;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-width:  0 0 0 0;
    margin: 0;
    padding: 0;
    z-index: 1030;
}
.moduleHeader {
    text-align: right;
    font-size: 1.5em;
    align-content: center;
}
.moduleClear {
    float: none;
}
.unitSelector {
    width: 200px;
    float: right;
}
.listBoxSize {
    width: 100% !important;
    height: 10em !important;
    max-height: 10em !important;
}